.custom-con {
    background: linear-gradient(90deg, #c4f6e0, #fae1d2);
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .bottom-text {
    background-color: #fceed1;
    color: #7d3cff;
    font-weight: bold;
    text-align: center;
    border-top: 1px solid #fae1d2;
  }

@media (max-width: 768px) {
    .input-group {
      flex-direction: column;
    }
    .input-group .form-control {
      width: 100%;
      margin-bottom: 0.5rem;
    }
    .input-group .btn {
      width: 100%;
    }
  }
  
@media (max-width: 576px) {
    .container {
      width: 95%;
      padding: 1rem;
    }
  }
  