body {
  height: auto;
  width: 90vw;
  max-width: 100%;
  margin: auto;
  background: linear-gradient(135deg, #ffe5d5, #f7caff);
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 100%;
}

@media (max-width: 768px) {
  .header-title {
    font-size: 1.5rem;
  }
  .header-subtitle {
    font-size: 0.8rem;
  }
  .custom-con {
    padding: 1.5rem;
  }
  .btn {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .w-75 {
    width: 100% !important;
  }
  .input-group {
    flex-direction: column;
  }
  .input-group .form-control {
    margin-bottom: 0.5rem;
  }
  .spinner-border {
    margin-right: 8px;
  }
}
